.mainHeading {
  text-align: center;
}

.mainHeading h1 {
  font-size: 35px;
}

.warrenUL1::marker {
  content: "▶️";
}

.warrenUL2 {
  list-style-type: none;
}

.listItems {
  font-size: 17px;
}

.georgeUL {
  list-style-image: url("./image/chevron-double-right.svg");
}

.peterDL dt {
  font-size: 17px;
}

.peterUL li {
  list-style-type: none;
}

* {
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8),
    -1px -1px 2px rgba(255, 255, 255, 0.4);
}

.button2 {
  background-color: rgb(75, 0, 130);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
  transition: background-color 0.3s ease;
  padding: 9px;
  display: inline-block;
}

.button1 {
  text-align: center;
}

.button1 a {
  margin-top: 25px;
}

.indianUL {
  list-style-type: disc;
}

.indianBody {
  background-color: black;
}

* .indianBody {
  color: #6d4c41;
  font-size: 18px;
}

.warrenOL {
  list-style-type: none;
  counter-reset: section;
}

.warrenOL h3 {
  counter-increment: section;
  font-weight: bold;
  font-size: 1.3rem; /* Set the desired font size for h3 headings */
  /* margin: 0; Optional: Removes extra spacing if needed */
}

.warrenOL h3::before {
  content: counter(section, upper-roman) ". ";
  font-weight: bold;
  font-size: 1.3rem; /* Matches the font size of h3 for a consistent look */
}

.peterOL {
  counter-reset: section 9; /* Starts numbering from 10 */
}

.peterOL h3::before {
  content: counter(section) ". ";
}
